.siteNav {
  display: flex;
  align-items: center;
  gap: 2rem;

  background-color: var(--bg-dark);

  & a {
    padding: 1rem;
    color: var(--text-inverted);
    text-decoration: none;

    &.active,
    &:hover {
      color: color-mix(in srgb, var(--text-inverted) 70%, #000);
      text-decoration: underline;
    }
  }
}

.logo {
  margin: 0;
  padding: 0.5rem;
}

.mainMenu {
  display: flex;
  gap: .3rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

.highlight {
  background-color: yellow;
}
