.brandForm {
  display: grid;
  gap: 1rem;
  grid-template-columns: 150px 1fr;

  & > label {
    justify-self: end;
    align-self: center;
  }

  & > input:not([type=checkbox], [type=radio], [type=color]) {
    justify-self: start;

    padding: .5rem;

    border: 1px solid var(--text-normal);
    border-radius: 3px;
    color: var(--text-normal);
    font: inherit;

    &:focus-visible {
      outline: 3px solid var(--primary-color);
      outline-offset: 2px;
    }
  }
}

.fullWidth {
  grid-column: 1 / -1;
}

.btn {
  --text-color: color-mix(in srgb, var(--primary-accent-color) 50%, #000);
  --border-color: var(--text-color);
  --bg-color: var(--primary-color);

  padding: .5rem 1.5rem;

  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 3px;
  color: var(--text-color);
  cursor: pointer;
  font: inherit;

  &:hover {
    --text-color: color-mix(in srgb, var(--primary-accent-color) 30%, #000);
    --bg-color: color-mix(in srgb, var(--primary-color) 95%, #000);
  }

  &:active {
    --bg-color: color-mix(in srgb, var(--primary-color) 85%, #000);
    box-shadow: inset 1px 1px 3px #0009;
  }
}

.secondColumn {
  grid-column-start: 2;
  justify-self: start;
}
